.planOverView{
    display: flex;
}

.sliders{
    height:400px;
    float: left;
}
.day{
    height:100px;
    padding: 0px 5px 0px 5px;
}
.div-days{
    float: left;

}


.station{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.start{
    margin: 0px;
}

/*div.list-sort-demo-list{*/
/*    height:30%;*/
/*    margin: 0px;*/
/*    padding: 0px 5px 0px 5px;*/
/*}*/

/*.div-wrapper{*/
/*    height:400px;*/
/*    overflow: auto;*/
/*    display:flex;*/

/*}*/
