.btn {
    margin: 10px 10px 10px 10px;
}

.planContainer {
    width:100%;
    text-align:center;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: center;
    /*margin: 30px auto;*/
    padding-top: 5px;
}

.path{
    display: inline-block;
    margin:0 auto;
    width: 65%;
    height: 800px;
    /*border: 2px dashed cornflowerblue; !* can be removed later *!*/
}

.leftContent {
    float: left;
    width: 20%;
    height: 600px;
    padding-top: 10px;
    /*border: 2px dashed cornflowerblue; !* can be removed later *!*/
}

.rightContent{
    float:right;
    width: 350px;
    height: 600px;
    padding-top: 10px;
    /*border: 2px dashed cornflowerblue; !* can be removed later *!*/
}

.btn-3d {
    margin: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;

    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d:active {
    top: 9px;
}
.btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.cyan:hover   {background-color: #82D1E3;}
.btn-3d.green:hover  {background-color: #80C49D;}
.btn-3d.purple:hover {background-color: #D19ECB;}
.btn-3d.yellow:hover {background-color: #F0D264;}

/* 3D button colors */
.btn-3d.cyan {
    background-color: #7fccde;
    box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(102, 164, 178, .6),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active {
    box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.green {
    background-color: #82c8a0;
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(126, 194, 155, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.purple {
    background-color: #cb99c5;
    box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(189, 142, 183, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.purple:active {
    box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.yellow {
    background-color: #F0D264;
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(196, 172, 83, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.yellow:active {
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.red {
    background-color: #e74c3c;
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 #C24032,
    0 8px 0 1px rgba(0,0,0,0.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}
.btn-3d.blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(110, 164, 219, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}








