.spotPath{
    width: 100%;
    /*height: 40%;*/
}

.list-sort-demo-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto ;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-between;
    /*border: 2px dashed cornflowerblue; !* can be removed later *!*/
    counter-reset: my-sec-counter;
}


.dynamic-delete-button {
    height: 80px;
    padding: 10%;
    margin-top: 20%;
}

div.list-sort-demo-list{
    position: relative;
    background-color: #F0D756;

    flex: 1 auto;
    font-size: 20px;
    /*background: #fff;*/
    border-radius: 6px;
    margin: 5px auto;
    padding: 9px;
    width: 90%;
    transition:  box-shadow .5s, transform .5s;
    border: 2px dashed cornflowerblue; /* can be removed later */
}

@media screen and (max-width: 320px) {
    .list-sort-demo-text h1 {
        font-size: 14px;
        line-height: 28px;
        font-family: 'Raleway', sans-serif;
    }
}

/* test more color*/


/*.list-sort-demo-list {*/
/*    list-style-type: none;*/
/*    list-style-type: decimal !ie; !*IE 7- hack*!*/
/*    padding: 0;*/
/*    counter-reset: li-counter;*/
/*}*/

/*.list-sort-demo-list {*/
/*    position: relative;*/
/*    margin-bottom: 1.5em;*/
/*    padding: 0.5em;*/
/*    background-color: #F0D756;*/
/*    padding-left: 58px;*/
/*}*/

.list-sort-demo-list:hover{
    box-shadow:inset -1em 0 #6CD6CC;
    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.list-sort-demo-list:before {
    position: absolute;
    top: -0.2em;
    left: -0.4em;
    width: 1.5em;
    height: 1.2em;
    font-size: 1.3em;
    line-height: 1.2;
    font-weight: bold;
    text-align: -moz-right;
    color: white;
    background-color: #6CD6CC;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(my-sec-counter);
    counter-increment: my-sec-counter 1;
}